body,
html {
  margin: 5em;
  /* background-color: #222629;
  font-family: "Montserrat", sans-serif;
  color: #f8fafc; */
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.player-board,
.computer-board {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  gap: 0.25em;
  height: 25em;
  width: 25em;
  border: black;
  /* box-shadow: 5px 5px lightgray; */
}

.player-board-square,
.computer-board-square {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  border-radius: 0.25em;
  background: #88304E;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.player-board-square:hover,
.computer-board-square:hover {
  background-color: #E23E57;
  transition: 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
}

.Player-Display-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  gap: 5em;
  /* position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%,-50%);     */
}

.Gameboard-Container {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.Player-1,
.Player-2 {
  height: 5em;
  width: 20em;
  border-radius: 0.25em;
  background: #88304E;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.Player-1-Container,
.Player-2-Container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
  gap: 0.5em;
  height: 25em;
  width: 25em;
  /* border: 0.15em solid black; */
  /* box-shadow: 5px 5px lightgrey; */
}
